@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.init-input{
  height: 68px;
  width: 560px;
  border-color: #000;
  border-width: 3px;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  font-size: 31px;
  padding-left: 20px;
}

.init-input::placeholder{
  color: #F5F5F5;
  font-size: 31px;}